body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #ffcccb;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}

.hidden {
    display: none;
}

h1 {
    color: #ff69b4;
}

.box-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    justify-items: center; 
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.game-box {
    width: 300px;
    height: 300px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-size: cover;
    background-position: center;
}

.game-box.flipped#box1 {
    background-image: url('IMG_1892.png');
    background-size: cover;
    color: transparent;
}

.game-box.flipped#box2 {
    background-image: url('IMG_2987.png');
    background-size: cover;
    color: transparent;
}

.game-box.flipped#box3 {
    background-image: url('IMG_4990.png');
    background-size: cover;
    color: transparent;
}

.game-box.flipped#box4 {
    background-image: url('IMG_5232.png');
    background-size: cover;
    color: transparent;
}

.game-box.flipped#box5 {
    background-image: url('IMG_5257.png');
    background-size: cover;
    color: transparent;
}

.game-box.flipped#box6 {
    background-image: url('IMG_7288.png');
    background-size: cover;
    color: transparent;
}

#quizOptions button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffcccb;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#quizOptions button:hover {
    background-color: #ffa07a;
}

#quizFeedback {
    margin-top: 15px;
    color: red;
}

#asciiArt {
    font-family: monospace;
    white-space: pre; 
    color: #333;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}

#cursor {
    font-family: monospace;
    font-size: 18px;
    color: #333;
    display: inline-block;
    animation: blink 1s step-start infinite;
}

#finalSurprise {
    text-align: center; 
    margin-top: 20px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
